{% extends "layout.jinja2" %}

{% block body %}
        <main class="article-content">
          <div class="page-header">
            <h1>404 - Not Found</h1>
          </div>
          <div class="card">
            <div class="card-body">
              <p class="card-text">Document or file requested by the client was not found.</p>
            </div>
            <div class="card-footer text-muted">
               <a class="navbar-brand" href="{{ request.route_url('home') }}">Home</a>
            </div>
          </div>
        </main>
{% endblock %}

