{% extends "layout.jinja2" %}

{% block body %}
<!--     <article>
      <div class="page-header">
        <h1>New Post</h1>
      </div>
      <form method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input name="title" class="form-control" id="exampleFormControlTextarea1" rows="1" required></input>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Article Body</label>
          <input name="body" class="form-control" id="exampleFormControlTextarea1" rows="3" required></input>
          <div class="submit-button">
            <input type="submit" class="btn btn-primary">Submit</input>
          </div>
        </div>
      </form>
    </article> -->

<form method="POST">
    <table>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" name="title" required/></td>
        </tr>
        <tr>
            <td><label for="body">Body</label></td>
            <td><input type="text" name="body" required/></td>
        </tr>
<!--         <tr>
            <td><label for="creation_date">Journal Date</label></td>
            <td><input type="date" name="creation_date" Journal Datemm/dd/yyyy" required/></td>
        </tr> -->
        <tr><td></td><td><input type="submit" value="Submit New Journal"></td></tr>
    </table>
</form>
{% endblock %}