{% extends "layout.jinja2" %}
{% block body %}

    <main class="article-list">
      <div class="page-header">
        <h1>Blog Posts</h1>
      </div>
      {% for entry in entries %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ entry.title|upper }}</h4>
            <p class="card-text">{{ entry.body }}</p>
            <a href="{{ request.route_url('detail', id=entry.id) }}" class="btn btn-primary">Details</a>
          </div>
        </div>
      {% endfor %}
    </main>

{% endblock %}