article {
    width: 50%;
    margin: auto;
}

.page-header {
    display: block;
    padding: 50px;
}

.article-content {
    width: 50%;
    margin: auto;
}

.article-list {
    width: 50%;
    margin: auto;
}